packaging
ninja
torch>=2.2.0
accelerate
pydantic
pytest
httpx
uvicorn
sentence-transformers
lm-format-enforcer
huggingface-hub
chardet
sse_starlette
fastapi
lxml
infinity-emb
colorama
zmq
transformers
pyyaml
rich
pyzmq
pygments
httpx
psutil
formatron>=0.4.4
referencing