packaging
ninja
torch>=2.2.0
torchvision
accelerate
#autoawq
#optimum
pydantic
pillow
pytest
httpx
uvicorn
sentence-transformers
lm-format-enforcer
huggingface-hub
chardet
sse_starlette
fastapi
lxml
infinity-emb[all]
colorama
#zmq
#git+https://github.com/huggingface/transformers.git@c42b3223db0fc24ff9a694f19e6c78faf3ac58a1#egg=transformers
pyyaml
rich
pyzmq
pygments
httpx
psutil
formatron>=0.4.4
referencing
qwen_vl_utils
websockets>=14.1

# stt
silero-vad
faster-whisper

# gpt_sovits
numpy==1.26.4
librosa
soundfile
ffmpeg-python
pytorch-lightning
gradio  # TODO to remove
cn2an
pypinyin
jieba-fast
wordsegment
g2p-en